#story {
    text-align: center;
    height: 400px;
    width: 1000px;
    background-color: powderblue;
}


p1 {
    text-align: center;
}

body {
    color: red;
    text-align: center;
    background: url('http://wallpapercave.com/wp/Mv2Dokc.jpg');
    font-size: 38px;
    font-family: impact;
    background-size: cover;

 }


